* {
  box-sizing: border-box;
  -moz-boz-sizing: border-box;
}
html,
body {
  font-family: 'Fira Sans', sans-serif;
  height: 100%;
  line-height: 1.4em;
  margin: 0;
}
body {
  background: #e7e7e7;
}
h1,
h2,
h3,
h4,
h5,
strong {
  font-weight: 500;
}
h1 {
  font-size: 2em;
  margin: 2rem 0;
}
article {
  color: #444;
  padding: 1em 2em;
  word-wrap: break-word;
}
article section {
  max-width: 40em;
}
pre {
  margin-top: 0;
  margin-bottom: 0;
  overflow-x: auto;
}
table {
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid #ddd;
  padding: 0.5em 1em;
  vertical-align: top;
}
table tr:nth-child(2n) {
  background: #f8f8f8;
}
/* until Fira is working */
i,
em {
  font-style: normal;
}
#landing {
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #b90000;
  color: #e7e7e7;
}
#landing header {
  position: absolute;
  top: 25%;
  width: 100%;
}
#landing header h1,
#landing header h3 {
  text-align: center;
}
#landing header h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;
  font-style: normal;
}
#landing footer {
  position: absolute;
  bottom: 15%;
  width: 100%;
}
#landing footer a {
  background: #fff;
  color: #b90000;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
}
#landing footer ul {
  margin: 0;
  padding: 0;
  margin-top: 20%;
  text-align: center;
  list-style: none;
}
#landing footer ul li {
  display: inline;
}
#landing footer ul li:after {
  content: " |";
  opacity: 0.2;
}
#landing footer ul li:last-child:after {
  content: "";
}
